# Byte-compiled / optimized files:
*.py[cod]
__pycache__/

# Environment / workspace settings:
.idea/
.venv/
.vscode/

# Distribution / packaging:
*.egg
*.egg-info/
*.lock
build/
dist/

# Code testing / coverage:
.coverage
.pytest_cache/

# Documentation:
public/

# Linting:
.mypy_cache/
